body{
    background-color: rgb(55, 0, 78);
}
header{
    background-color: rgb(123, 76, 152);
    height: 5em;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 0 20px;
    color: white;
    font-weight: bold;
    margin-top: -1em;
    margin-left: -1em;
    margin-right: -0.5em;
}
.header-index2{
    color: white;
}
.index2-header{
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    padding-right: 1em;
}
.Acceuil{
    font-size: 1.5em;
}
.titre{
    color: white;
    font-weight: bold;
    font-size: 2em;
    padding-left: 25%;
    padding-top: 15%;
    background: linear-gradient(90deg, rgba(98,13,111,1) 0%, rgba(98,13,111,1) 0%, rgba(202,0,237,1) 100%);
    height: 100%;
    width: 77.8%;
    margin-left:-1em;
}
.p-titre{
    color: white;
    font-size: 0.8em;
    margin-top: -1em;
    padding-bottom: 30%;
}
p{
    color: white;
}
a{
    text-decoration: none;
    color: rgb(0, 247, 255);
}
h2{
    color: white;
}
h1{
    color: white;
}
.form-connection{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: rgb(148, 0, 211);
    padding: auto;
    border-radius: 10px;
    border-color: rgb(0, 247, 255);
    border-style: solid;
    border-width: 2px;
    width: 40%;
    height: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;

}
label{
    color: white;
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
    text-align: left;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.2em;
    font-family: Arial, sans-serif;
    color: white;
    line-height: 1.5em;
}
/* Conteneur principal de la sélection de quiz */
.selection-modif-quiz {
    width: 50%;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Titre de la section */
.h2-modif {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333333;
}

/* Style du formulaire */
.form-modif {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

/* Champ de sélection */
.form-modif select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease;
}

/* Effet de survol sur le select */
.form-modif select:focus {
    border-color: #007bff;
    outline: none;
}

/* Style du bouton de modification */
.bouton-modif {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Effet de survol sur le bouton */
.bouton-modif:hover {
    background-color: #0056b3;
}

/* Conteneur principal */
.container-jeu {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #670097;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Style du titre (h1-jeu) */
.h1-jeu {
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 20px;
}

/* Style du paragraphe avec la question (p-jeu) */
.p-jeu {
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 30px;
    line-height: 1.5;
}

/* Style des boutons (bouton-jeu) */
.bouton-jeu {
    font-size: 18px;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s;
}

/* Bouton "Vrai" */
.bouton-jeu[value="true"] {
    background-color: #4CAF50;
    color: white;
}

/* Bouton "Faux" */
.bouton-jeu[value="false"] {
    background-color: #f44336;
    color: white;
}

/* Effet au survol des boutons */
.bouton-jeu:hover {
    transform: scale(1.02);
}

/* Effet au survol du bouton "Vrai" */
.bouton-jeu[value="true"]:hover {
    background-color: #45a049;
}

/* Effet au survol du bouton "Faux" */
.bouton-jeu[value="false"]:hover {
    background-color: #e53935;
}

/* Conteneur principal des résultats */
.container-result {
    max-width: 600px;
    margin: 50px auto;
    padding: 30px;
    background-color: #670097;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Style du titre des résultats (h1-result) */
.h1-result {
    font-size: 28px;
    color: #ffffff;
    margin-bottom: 20px;
}

/* Style du texte avec le score (p-result) */
.p-result {
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 30px;
    line-height: 1.5;
}

/* Style du lien de retour (a-result) */
.a-result {
    font-size: 18px;
    color: #ffffff;
    background-color: #007BFF;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

/* Effet au survol du lien de retour */
.a-result:hover {
    background-color: #0056b3;
}




input[type="text"],
 input[type="password"]{
    width: 100%;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    transition: background-color 0.3s ease-in-out;
    font-size: 1.2em;
    font-family: Arial, sans-serif;
    color: black;
    letter-spacing: 1px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    outline: none;
    border: 2px solid rgba(0, 247, 255, 0.8);
    border-radius: 5px;
    text-align: left;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    -webkit-appearance: none;
    -moz-appearance: none;
}
button{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgb(0, 247, 255);
    color: white;
    cursor: pointer;
}
button:hover{
    background-color: rgb(0, 247, 255);
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    outline: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 1.2em;
    font-family: Arial, sans-serif;
    color: white;
}
.register-footer{
    background-color: rgb(123, 76, 152);
    height: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    color: white;
    font-weight: bold;
    margin-top: 7.5em;
    margin-left: -1em;
    margin-right: -0.5em;
}
.login-footer{
    background-color: rgb(123, 76, 152);
    height: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    color: white;
    font-weight: bold;
    margin-top: -1em;
    margin-left: -1em;
    margin-right: -0.5em;
}
.affichage-footer{
    background-color: rgb(123, 76, 152);
    height: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    color: white;
    font-weight: bold;
    margin-top: 11.8em;
    margin-left: -1em;
    margin-right: -0.5em;
}






/* Conteneur principal */
.quiz_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Grille adaptable */
    gap: 20px;
    width: 90%;
    max-width: 1200px;
    padding: 20px;
}

/* Section individuelle du quiz */
.quiz-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    background-color: #494949;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Image du quiz */
.quiz-item .quiz-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 15px; /* Espacement entre l'image et le texte */
}

/* Titre du quiz */
.quiz-item .quiz-title {
    font-size: 1.5rem;
    color: #dddddd;
    margin: 15px 0;
}

/* Description du quiz */
.quiz-item .quiz-description {
    font-size: 1rem;
    color: #b8b8b8;
    margin-bottom: 20px;
}

/* Lien pour commencer le quiz */
.quiz-item .quiz-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #7700ff;
    color: #fff;
    font-size: 1rem;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.quiz-item .quiz-link:hover {
    background-color: #0056b3;
}

/* Responsivité */
@media (max-width: 768px) {
    /* Sur les petits écrans, on affiche une seule colonne */
    .quiz_container {
        grid-template-columns: 1fr;
    }
}


.affichage-container {
    display: flex;              /* Utilise Flexbox pour aligner les éléments en ligne */
    flex-wrap: wrap;            /* Permet aux éléments de passer à la ligne suivante si nécessaire */
    gap: 20px;                  /* Espacement entre les éléments */
    justify-content: flex-start; /* Aligne les éléments à gauche */
    width: 100%;                /* Prend toute la largeur disponible */
    overflow-x: auto;           /* Ajoute un défilement horizontal si nécessaire */
}

.affichage-container ul {
    list-style: none;           /* Supprime les puces de la liste */
    padding: 0;                 /* Enlève le padding */
    margin: 0;                  /* Enlève la marge */
    display: flex;              /* Utilise flexbox pour les <li> dans <ul> */
    gap: 20px;                  /* Espacement entre les éléments de la liste */
    flex-wrap: wrap;            /* Permet de passer à la ligne suivante lorsque l'espace est insuffisant */
}

.affichage-container li {
    display: flex;              /* Utilise flexbox pour chaque élément de la liste */
    flex-direction: column;     /* Affiche les éléments à l'intérieur de chaque <li> en colonne */
    align-items: center;        /* Centre les éléments à l'intérieur de chaque <li> */
    max-width: 250px;           /* Limite la largeur des items */
    width: 250px;               /* Fixe la largeur des éléments */
}

.affichage-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
}

.affichage-img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.affichage-title {
    font-size: 1.2rem;
    margin: 10px 0;
}

.affichage-description {
    font-size: 1rem;
    margin-bottom: 10px;
}

.bouton-supr {
    margin-top: 10px;
}

.delete-button {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.delete-button:hover {
    background-color: darkred;
}


/* Conteneur principal */
.container-mofi {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #6b00b2;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Section pour modifier un quiz */
.modif-quiz {
    margin-bottom: 30px;
}

.h2-modif-quiz {
    font-size: 1.8em;
    color: #333;
    margin-bottom: 15px;
}

.form-modif {
    background-color: #540085;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.label-form-modif {
    display: block;
    font-size: 1em;
    color: #ffffff;
    margin-bottom: 5px;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
}

textarea {
    resize: vertical;
    height: 100px;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

/* Section des questions */
.modif-question {
    margin-bottom: 30px;
}

.modif-question h2 {
    font-size: 1.6em;
    color: #ffffff;
    margin-bottom: 15px;
}
.text-supr-modif{
    color: white;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #470074;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul li form {
    display: inline-block;
}

button[type="submit"] {
    background-color: #f44336;
}

button[type="submit"]:hover {
    background-color: #e53935;
}

/* Section ajouter une question */
.add-question {
    margin-bottom: 30px;
}

.h2-question {
    font-size: 1.8em;
    color: #ffffff;
    margin-bottom: 15px;
}

.form-question {
    background-color: #470074;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.label-question {
    display: block;
    font-size: 1em;
    color: #555;
    margin-bottom: 5px;
}

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
}


/* Media Queries pour les petits écrans */
@media (max-width: 1024px) {
    .affichage-container {
        flex-direction: column;  /* Sur les écrans plus petits, on passe en colonne */
        align-items: center;     /* Centrer les éléments */
    }

    .affichage-container ul {
        flex-direction: column;  /* Les quiz se rangent en colonne */
        align-items: center;
    }

    .affichage-container li {
        width: 100%;             /* Les quiz prennent toute la largeur disponible */
        max-width: 100%;         /* Ils s'ajustent à la largeur de l'écran */
    }
}

@media (max-width: 768px) {
    .affichage-container li {
        width: 100%;             /* Les quiz prennent toute la largeur sur des écrans plus petits */
    }
}
